body {
    font-family: 'Roboto', sans-serif;
    background-color: #FF6B6B;
    height: 100vh;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    z-index: 2;
}