.main-bg {
    height: 100vh;
    @include media-breakpoint-down(sm){
        background-image: url('../images/main_background_phone.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    background-image: url('../images/main_background.svg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15% 0;
  
    h1 {
        @include media-breakpoint-down(sm){
            font-size: 34px;
            line-height: 40px;
        }
        text-align: right;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 96px;
        line-height: 112px;
        color: #FFFFFF;
    }
    .header-content {
        @include media-breakpoint-down(sm){
            padding-right: 10%;
            padding-top: 60%;
        }
        padding-right: 20%;
    }
    @keyframes glowing {
        0% {
            background-color: #F39A05;
            box-shadow: 0 0 3px #F39A05;
        }
        50% {
        background-color: #FFB401;
        box-shadow: 0px 0px 12px 6px #FFB401;
        }
        100% {
            background-color: #F39A05;
            box-shadow: 0 0 3px #F39A05;
        }
    }
    .btn-custom {
        @include media-breakpoint-down(sm){
            width: 170px;
            height: 40px;
            font-size: 16px;
            padding: 6px 0;
        }
        text-align: center;
        border-radius: 12px;
        width: 476px;
        height: 83px;
        font-weight: 400;
        padding: 15px 0;
        font-size: 32px;
        color: #FFFFFF;
        animation: glowing 3000ms infinite;
    }
}
