.section-date-location {
    margin-top: 30%;  
    .content {
        h1 {
            @include media-breakpoint-down(sm){
                font-size: 28px;
            }
            text-align: center;
            color: #1A535C;
            font-size: 52px;
        }
        hr {
            @include media-breakpoint-down(sm){
                width: 100px;
            }
            width: 257px;
            border: 2px solid #1A535C;
            border-radius: 1px;
        }
        .hr-br {
            @include media-breakpoint-down(sm){
                width: 200px;
            }
            width: 500px;
            border: 2px solid #FFC700;
            border-radius: 1px;
            margin-bottom: 90px;
        }
        .my-card {
            @include media-breakpoint-down(sm){
                max-width: 320px;
                margin-top: 10%;
                box-shadow: 0px 0px 28px 1px #FFC700;
            }
            max-width: 1000px;
            background: #2B2D42;
            box-shadow: 0px 0px 38px 2px #FFC700;
            border-radius: 24px;
            margin: 0 auto; 
            float: none; 
            margin-top: 80px;
            text-align: center;
            .card-title {
                @include media-breakpoint-down(sm){
                    font-size: 56px;
                    margin-top: 28px;
                }
                margin-top: 62px;
                font-family: Niconne;
                font-size: 98px;
                letter-spacing: 0.06em;
                color: #FFC700;
            }
            h5 {
                @include media-breakpoint-down(sm){
                    font-size: 26px;
                    margin-top: 28px;
                    margin-bottom: 28px;
                    font-weight: normal;
                    letter-spacing: 0.08em;
                }
                margin-top: 60px;
                margin-bottom: 60px;
                font-style: italic;
                font-weight: 500;
                font-size: 48px;
                letter-spacing: 0.12em;
                color: #FFFFFF;
            }
            p {
                @include media-breakpoint-down(sm){
                    font-size: 18px;
                }
                color: #FFFFFF;
                font-size: 22px;
            }
            .img-maps {
                width: 62px;
                margin-top: 30px;
                margin-bottom: 30px;
            }
            .btn-custom {
                width: 220px;
                height: 50px;
                background: #FFC700;
                border-radius: 4px;
                color: #FFFFFF;
                padding: 12px 0;
                font-size: 18px;
                margin-bottom: 90px;
            }
        }
    }
}